header{
    margin-bottom: 20px;
}

header>nav{
    border: solid 1px rgb(158, 158, 158);
    border-radius: 10px;
    margin: 20px;
    height: 60px;
}

header>nav>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-shadow: 0px 0px 5px black;
    font-size: 15px;
    margin-top: 18px;
    margin-left: -20px;
    font-weight: 500;
}

header>nav>ul>li{
    transition-duration: 0.5s;
    cursor: pointer;
    margin-right: 18px;
}

header>nav>ul>li:hover{
    background-color: rgb(255, 255, 92);
}