main{
    margin-top: 60px;
}

img{
    width: 230px;
    height: 310px;
    border-radius: 100%;
    box-shadow: 0px 0px 20px rgb(99, 99, 99);
    cursor: pointer;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}

img:hover{
    box-shadow: 0px 0px 20px rgb(255, 255, 92);
}

#container{
    margin-bottom: 10px;
}


#apresentacao{
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 2px 2px black;
    padding: 10px;
}

#container>p>strong{
    color: rgb(255, 255, 92);
    transition-duration: 0.5s;
    cursor: pointer;
    text-shadow: 0px 0px 5px black;
}

#container>p>strong:hover{
    color: rgb(126, 182, 255);
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#bt_cv{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    cursor: pointer;
    background: rgb(253, 216, 48);
    border-radius: 10px;
    padding: 7px 15px 7px 15px;
    transition-duration: 0.5s;
}

#bt_cv:hover{
    background: linear-gradient(to bottom, rgb(126, 182, 255) 35%, rgb(8, 161, 167));
}

#sobre{
    padding: 20px;
    text-shadow: 0px 2px 2px black;
    border: solid 1px rgb(158, 158, 158);
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    margin: 10px;
}

#sobre>.row>.col>p{
    text-align: justify;
}

#sobre_mim{
    color: rgb(255, 255, 92);
    transition-duration: 0.5s;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;   
    text-shadow: 0px 0px 5px black;
}

#sobre_mim:hover{
    color: rgb(126, 182, 255);
}


#sobre>p{
    text-align: justify;
    font-size: 18px;
    text-shadow: 0px 0px 5px black;
}

#linha_sobre{
    border: solid 1px rgb(248, 242, 242);
    width: 165px;
    margin-top: 0px;
}

#container2{
    text-align: center;
    margin: 15px;
}

#habilidades{
    color: rgb(255, 255, 92);
    transition-duration: 0.5s;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 0px 0px 5px black;
}

#habilidades:hover{
    color: rgb(126, 182, 255);
}

#linha_hab{
    border: solid 1px rgb(248, 242, 242);
    width: 188px;
    margin-top: 0px;
}

#container3, #container4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#container3>.row>.col>strong{
    border: solid 4px white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 5px rgb(41, 41, 41);
}

#container3>.row>.col>strong:hover{
    background-color: rgb(255, 255, 92);
}

#container4{
    margin-top: 50px;
}

#container4>.row>.col>strong{
    border: solid 4px white;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 2px rgb(41, 41, 41);
}

#container4>.row>.col>strong:hover{
    background-color: rgb(255, 255, 92);
}

#redes{
    margin-top: 30px;
}

#redes>.row>.col{
    margin-bottom: 50px;
}

#redes>.row>.col>a{
    border: solid 4px white;
    cursor: pointer;
    padding: 10px;
    color: aliceblue;
}