main{
    margin-top: 60px;
}

img{
    width: 230px;
    height: 310px;
    border-radius: 100%;
    box-shadow: 0px 0px 20px rgb(99, 99, 99);
    cursor: pointer;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}

img:hover{
    box-shadow: 0px 0px 20px rgb(255, 255, 92);
}

#container{
    margin: 15px;
    margin-bottom: 10px;
}


#apresentacao{
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 2px 2px black;
}

#container>p>strong{
    color: rgb(255, 255, 92);
    transition-duration: 0.5s;
    cursor: pointer;
    text-shadow: 0px 0px 5px black;
}

#container>p>strong:hover{
    color: rgb(126, 182, 255);
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#bt_cv{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    cursor: pointer;
    background: rgb(253, 216, 48);
    border-radius: 5px;
    padding: 7px 0px 7px 15px;
    transition-duration: 0.5s;
    text-decoration: none;
}

#bt_cv:hover{
    background: rgb(84, 148, 231);
}

#seta{
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    font-size: 25px;
}
#sobre{
    padding: 20px;
    text-shadow: 0px 2px 2px black;
    border: solid 1px rgb(128, 128, 128);
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin: 15px;
    margin-bottom: 30px;
    background-color: rgb(68, 68, 68);
    box-shadow: 0px 0px 10px black;

}

#sobre>.row>.col>p{
    text-align: justify;
}

#sobre_mim{
    color: rgb(255, 255, 92);
    transition-duration: 0.5s;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;   
    text-shadow: 0px 0px 5px black;
}

#sobre_mim:hover{
    color: rgb(126, 182, 255);
}


#paragrafo_sobre{
    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
    text-shadow: 0px 0px 5px black;
}

#linha_sobre{
    border: solid 1px rgb(248, 242, 242);
    width: 165px;
    margin-top: 0px;
}

#container2{
    margin: 15px;
    background-color: rgb(68, 68, 68);
    border: solid 1px rgb(128, 128, 128);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}

#container2>.row>.col{
    text-align: center;
    margin: 15px;
    background-color: rgb(68, 68, 68);
}

#habilidades{
    color: rgb(255, 255, 92);
    transition-duration: 0.5s;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 0px 0px 5px black;
}

#habilidades:hover{
    color: rgb(126, 182, 255);
}

#linha_hab{
    border: solid 1px rgb(248, 242, 242);
    width: 188px;
    margin-top: 0px;
}


.linha_hab2{
    border: solid 4px white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#container2>.row>.linha_hab2:hover{
    font-size: 22px;
    background-color: rgb(255, 255, 92);
}

#redes{
    margin-top: 30px;
}

#redes>.row>.col{
    margin-bottom: 50px;
}

#redes>.row>.col>a{
    border: solid 4px white;
    cursor: pointer;
    padding: 10px;
    color: aliceblue;
}